include license/LICENSE.txt
include license/NOTICE.txt
include CHANGELOG.txt
include MANIFEST.in
include init/ubuntu/cfn-hup
include init/redhat/cfn-hup
include cfnbootstrap/packages/requests/cacert.pem
